.elements__grid {
	margin-top: 50px;
	margin-bottom: 0;
	padding: 0;
	display: grid;
	max-width: 100%;
	grid-template-columns: repeat(auto-fit, 282px);
	grid-column-gap: 17px;
	grid-row-gap: 20px;
}

@media screen and (max-width: 542px) {
	.elements__grid {
		margin-top: 36px;
	}
}