.form__field-name {
	padding: 0;
	padding-bottom: 13px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 36px;
	margin-bottom: 30px;
	max-width: 358px;
	max-height: 27px;
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	box-sizing: border-box;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.21;
}

@media screen and (max-width: 619px) {
	.form__field-name {
		margin-left: auto;
		margin-right: auto;
		max-width: 238px;
	}
}