.element__icon {
	margin: auto 0;
	padding: 0;
	width: 22px;
	height: 19px;
	border: 0;
	background-image: url("../../../images/icon.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.element__icon:hover {
	opacity: 0.5;
}