.form__close-button {
	padding: 0;
	position: absolute;
	top: -40px;
	right: -40px;
	width: 32px;
	height: 32px;
	border: 0;
	background-image: url("../../../images/close-button-icon.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

@media screen and (max-width: 619px) {
	.form__close-button {
		top: -40px;
		right: 0;
		width: 20px;
		height: 20px;
	}
}

.form__close-button:hover {
	opacity: 0.6;
}